*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* Navigation */
html{
    scroll-behavior: smooth;
}

#navbar{

    position:sticky;
    top:0;
    z-index: 1;

    display:flex;
    justify-content: space-between;
    align-items: center;

    /*if we don't want navbar::before set the bgcolor*/
    /* background-color:#00000070; */
    /* opacity: 0.5; */
    
       
}



#logo{
     margin:30px 10px;
     padding:2px 5px;
     color:white;

}
@media only screen and (max-width:1077px)
{
    #navbar{
        flex-direction:column;
    }
    #logo{
    margin: 2px 10px;
    padding: 4px 5px;
    }
}


/* #logo span {
    color: crimson;

} */
#navbar::before{
    content:"";
    background-color:black;
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height: 90px;
    z-index:-1;
    opacity: 0.5;

}

#navbar ul{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin: 0 50px;
    color:white;


}
#navbar ul li{
     list-style: none;

}

#navbar ul li a{
    text-decoration: none;
    margin: 0 6px;
    padding:3px 10px;
    color:white;
    border-radius:20px;
}
#navbar ul li a:hover{

  background-color:blanchedalmond;
  color:black;
}


/* Hero Section  */
#hero
{
    display:flex;
    flex-direction: column;
    /* justify-content: center; */
}

#hero::before{
    content:"";
    background: url(img/bg1.jpg) no-repeat center center/cover;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:800px;
    /* opacity:0.8; */
    z-index:-2;
    background-color: #757575;
    background-blend-mode: multiply;

}

.hero-container{
    display: flex;
    max-width: 1200px;
    height: 701px;
    align-items: center;
    justify-content: center;
    /* padding-left: 130px; */
    margin: 0 67px;

}

.hero-container .hero-section{ 

    
    /* border: 2px solid yellow; */
    align-items:center;
    font-family: 'Baloo 2', cursive;
    font-size: 3rem;
    width: 558px;
    margin: 25px 36px;
    /* padding: 5px; */
    font-weight: bold;
    color: white;
}
.hero-section .btn:hover{
    background-color:crimson;
    color:white;
}

.hero-section h1{
    
    position:relative;
    
    animation:text_reveal .6s ease forwards;
    color:transparent;
    

}

.hero-section h1 span{

    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:0;
    background-color:crimson;
    animation:text_reveal_box 1.3s ease;
    

}

.hero-section h1:nth-child(1){
    animation-delay: 1.2s;

}
.hero-section h1:nth-child(2){

    animation-delay: 2.2s;
    
}
.hero-section h1:nth-child(3){

    animation:text_reveal_name .6s ease forwards;
    animation-delay:3.2s;
    /* color:crimson; */
    
}

.hero-section h1:nth-child(1) span{
      animation-delay: 1s;
      
    
}
.hero-section h1:nth-child(2) span{
    animation-delay: 2s;
  
}
.hero-section h1:nth-child(3) span{
    animation-delay: 3s;
  
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal{
    
    100% {
		color: white;
	}
}

@keyframes text_reveal_name {
   
    100% {
		color: crimson;
		font-weight: 500;
	}
}
/* Services  */

#services{
    font-family: 'Baloo 2', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
    padding-top:30px;
             /*don't set height so it will adjust auto*/

}
 /* #services p{
    width:800px;
    margin:15px;
    padding:10px;
}  */
.services-top{
    max-width:500px;
    text-align:center;
}
.services-container{
    display: flex;
    /* flex-wrap: wrap; */
    max-width: 1500px;
    justify-content: center;
}
@media only screen and (max-width:1159px)
{
    .services-container{
        flex-wrap: wrap;
    }
    .services-container .box{
        
        /* flex-direction: row; */
        /* flex-wrap:wrap; */
        flex-basis:45%;        
    }
}

.box{
    margin: 20px 14px;
    border: 3px solid brown; 
    padding: 5px;
    font-size: 1.2rem;

    background-color:#deb88766;
    border-radius:30px;
    
}

.box img{
    /* width:1rem;; */
    /* height:1rem; */
    display:block;
    width:90px;
    height:90px;
    margin:0 auto;
}

/* Projects */

#projects{
    
    margin: 80px auto;
    padding: 0px 104px;
    display:flex;
    flex-direction: column;            
    justify-content: center;
    align-items: center;
    /* height: 100vh; */


}

.project-section
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:10px 20px;
}

.project-item{

    /* width:900px;
    height: 300px; */
    /* border:2px solid black; */
    display: flex;
    

}
.project-item:nth-child(even)
{
    flex-direction: row-reverse;
}
.project-info{

    /* border:2px solid yellow; */
    background: linear-gradient(45deg,rgba(53, 53, 58, 0.377) 2%,rgba(53, 53, 66, 0.767) 30%);
    flex-basis: 50%;              /*to initialize the size*/

    display: flex;
    flex-direction: column;
    justify-content: center;

    color:white;
    font-weight: normal;
    
    /* align-items: center; */
    padding:20px;
}
.project-info h2{
    font-weight: normal;

}
.project-info p{
    font-size:1rem;
    font-weight:100;
}
           /*Image Setting*/

.project-img{
    /* border:2px solid yellow; */
    flex-basis: 50%;                 /*to initialize the size*/                             
    overflow:hidden;                     /*to hide overflow inside div*/
    position:relative;
                         /*has to make relative for absolute to move relative to this div*/
    z-index: -2;
}


.project-img img{
    height: 100%;    /*best method to add image in container*/
    width: 100%;
    object-fit: cover;
    transition:transform .3s ease ;
}
   /*This will come after img tag */
#projects .project-img::after{
    content:"";
    position: absolute;                   /*parent div must be relative*/
    /* z-index:1; */
    top:0;
    left:0;
    background-color:rgb(177, 93, 79);
    width:100%; 
    height: 100%;
    opacity: 0.5;
    /* z-index: -1; */
    /* background-blend-mode: multiply; */
    
}
#projects .project-item:hover img{  /*when hover on project-item transform img*/
    transform:scale(1.1);
}

/* #projects::before{
   content:"";
   background:url("");
   position:absolute;
   width:100%;
   height:800px;


} */
#projects h1{
    text-align: center;
}

@media only screen and (max-width:890px)
{
    .h-primary{
        font-size:.1rem;
    }
}
@media only screen and (max-width:748px)
{
    .project-item,.project-item:nth-child(even){
        flex-direction: column;
        padding-bottom:20px;
        
    }
    #projects{
        padding:0;
    }
    
    
}


/* About Section */


#about{
    display: flex;
    flex-direction: column;
    text-align:center;
    /* position: relative; */
    /* z-index:-1; */
    /* margin:0 auto; */
    /* height: 800px; */
}

.about-section{
    /* border:2px solid black; */
    box-shadow: 20px 4px 30px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* background-color:blanchedalmond; */
    margin: 38px 100px;
    padding:30px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .about-img{
    /* border:2px solid green; */
    width:260px;
    height:360px;
    margin:20px;
    /* overflow: hidden; */
    position: relative;

    z-index:-2;
}

.about-img img{
    width:100%;
    height: 100%;
    object-fit: cover;
    /* display: none; */
}

.about-img::after{
    content: "";
    position: absolute;
    left: -20px;
    top: 20px;
    border: 8px solid crimson;
    width: 100%;
    height: 100%;
    z-index: -2;

}
#about .about-info{
    text-align:left;
    /* border:2px solid yellow; */
    max-width:800px;
    /* margin:20px; */
}
.about-info .about-btn{
    margin-top:20px;
    color:black;
}
.about-btn:hover{
background-color:crimson;
color:white;
}


@media only screen and (max-width:904px)
{
    .about-section{
        margin:38px;
    }
    
    
}
@media only screen and (max-width:1174px)
{
    .about-section{

        flex-direction:column;
    }
    .about-info{
        margin-top: 40px;
        
    }
}

/* Contact Section  */

#contact{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
  
    margin-top: 20px;
    position: relative;
    
    
}
#contact h1{
    text-align: center;
  
}

#contact::before{
    content:"";
    background:url("img/contact.png") no-repeat center center/cover;
    position:absolute;
    width:100%;
    height: 596px;
    z-index:-1;
    top: 121px;
    /* padding:40px; */
    
}

#contact-section{

    /* position:relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 34px;
    font-family: 'Baloo 2', serif,cursive;
    
}
#contact-section form{
    
    max-width: 40%;
}
#contact-section .form-group input,#contact-section textarea{
    width: 100%;
    padding:0.5rem;
    border-radius:9px;
    font-size:1.1rem;
}



#contact-section label{
    font-size:1.5rem;
    font-weight: bold;
    /* font-family: 'Bree Serif', serif; */
}

#contact-section .sub-btn{
    font-size: 1.2rem;
    background-color: crimson;
    border-radius: 10px;
    width: 100px;
    height: 48px;
    display: block;
    margin: 0 auto;
    border:none;
    cursor:pointer;
}
#contact-section .sub-btn:hover{
    transition:all ease-in .3s;
    background-color:rgb(133, 231, 133);
   

}
#contact-section .sub-btn:active{
    
    border: 5px solid rgb(133, 231, 133);

}

/* footer */

#footer{
    background: url("img/footer.jpg") no-repeat center center/cover;
    background-color: rgba(0, 0, 0, 0.808);
    color: white;
    /* height: 200px; */
    padding:40px;
    background-blend-mode: multiply;

    /* text-align: center; */
}
#footer h2{
    text-align: center;
}
#footer p{
    margin-top:50px;
    text-align: center;
}
.icon{
    /* width:100%;  */
    margin-top:30px;
    display: flex;
    justify-content: center;
    padding:20px;
    /* border:2px solid white; */
    /* justify-content: space-around; */

   
}


.icon a{

    text-decoration: none;
    width: 35px;
    height: 35px;
    margin: 5px 8px;

    
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.692);

    color:black;
                         /* flex done to center icon  */
    display:flex;                        
    justify-content: center;
    align-items: center;

}

.icon a:hover{
    background-color:#00ffffa6;
    color:white;
    transition:all ease-in .2s;
}

/* Utility Classes */


  .h-primary{
    
    font-size:2rem;
    font-family: 'Rubik', sans-serif;
  }


.h-primary span{
    color:crimson;
}

.h-secondary{

    font-size:1.5rem;
    font-weight: bold;
    font-family: 'Baloo 2', serif,cursive;
}

.h-heading{

    font-family: 'Maven Pro', sans-serif;
    font-weight: normal;
    font-size:3.5rem;
    padding:25px 0px;
    

}
.h-heading u{
    color:crimson;
}



.btn{

    font-size:1.6rem;
    background-color:transparent;
    color:white;
    border:2px solid crimson;
    width:300px;
    padding:15px;
    cursor:pointer;

}
.btn:hover{
    transition: all ease .5s;
}


/* mobile  */
@media only screen and (max-width:695px)
{
    #navbar ul{
        font-size:1rem;
        margin:none;
    }
    .hero-section h1{
        font-size:2.5rem;
        /* color:crimson; */
    }

    .services-container .box {
        /* flex-direction: row; */
        /* flex-wrap: wrap; */
        flex-basis: 89%;
    }


    .h-heading{
        font-size:2rem;
    }

    .about-section {
        margin: auto;
    }

    .about-img img{
        width: 87%;
    height: 86%;
    }

    .about-img::after {
        left: -2px;
        width: 86%;
    height: 86%;

    }
    
    #contact-section form {
        max-width: 57%;
    }

    #contact::before {
        content: "";
        background: url(img/contact.png) no-repeat center center/cover;
        position: absolute;
        width: 100%;
        height: 596px;
        z-index: -1;
        top: 90px;
        /* padding: 40px; */
    }

    .h-secondary{
        font-size:1rem;
    }
    #navbar ul li a {
        text-decoration: none;
        /* margin: 0 6px; */
        padding:6px;
        color: white;
        border-radius: 20px;
    }
}

